<div class="panTemper">
    <img class="imgBt" src="~/Content/Images/Temper1.png" />

    <a href="/Device/Command/@ViewBag.room/@ViewBag.device/t_plus">
        <img src="~/Content/Images/up_plus.png" class="imgBt" />
    </a>

    <span class="labelTemperat">@ViewBag.temper</span>

    <a href="/Device/Command/@ViewBag.room/@ViewBag.device/t-">
        <img src="~/Content/Images/down_minus.png" class="imgBt imgBtV" />
    </a>
</div>
