<div class="panVolume">
    <img class="imgBt" src="~/Content/Images/sound_low.png"/>

    <a href="/Device/Command/@ViewBag.room/@ViewBag.device/vol_plus">
        <img src="~/Content/Images/up_plus.png" class="imgBt" />
    </a>

    <span class="labelVolume">@ViewBag.vol</span>

    <a href="/Device/Command/@ViewBag.room/@ViewBag.device/vol-">
        <img src="~/Content/Images/down_minus.png" class="imgBt imgBtV" />
    </a>
</div>
